.centerflexrow{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.letterflow{
  text-shadow: 2px 2px #FF0000;
  background: yellow;
}



.positionrelative{
  position: relative;
}
.positionabsolute{
  position:absolute
}
